@use './util';

@mixin background(
  $center,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  @include util.distributeByPanel(
    background,
    $center,
    $top,
    $left,
    $bottom,
    $right
  );
}
