@mixin distributeByPanel(
  $property,
  $center,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  .berg-panel-center {
    #{$property}: $center;
  }

  .berg-panel-top {
    #{$property}: $top or $center;
  }

  .berg-panel-left {
    #{$property}: $left or $top or $center;
  }

  .berg-panel-bottom {
    #{$property}: $bottom or $top or $left or $center;
  }

  .berg-panel-right {
    #{$property}: $right or $left or $top or $bottom or $center;
  }
}

@mixin distributeByResolution(
  $property,
  $large,
  $medium: null,
  $small: null,
  $mobile: null
) {
  .berg-panel-large {
    #{$property}: $large;
  }

  .berg-panel-medium {
    #{$property}: $medium or $large;
  }

  .berg-panel-small {
    #{$property}: $small or $medium or $large;
  }

  .berg-panel-mobile {
    #{$property}: $mobile or $small or $medium or $large;
  }
}

@mixin distributeToPanelByResolution(
  $property,
  $panel,
  $large,
  $medium: null,
  $small: null,
  $mobile: null
) {
  .berg-panel-#{$panel} {
    &.berg-panel-large {
      #{$property}: $large;
    }

    &.berg-panel-medium {
      #{$property}: $medium or $large;
    }

    &.berg-panel-small {
      #{$property}: $small or $medium or $large;
    }

    &.berg-panel-mobile {
      #{$property}: $mobile or $small or $medium or $large;
    }
  }
}
