<berg-layout>
  <berg-panel slot="top"
              resize-two-dimensions="true">
    <button (click)="collapsed = !collapsed">Toggle collapsed</button>
    <button (click)="absolute = !absolute">Toggle absolute</button>
  </berg-panel>

  <berg-panel slot="left"
              resize-two-dimensions="true"
              (backdropClicked)="collapsed = !collapsed"
              [collapsed]="collapsed"
              [absolute]="absolute">
  </berg-panel>

  <berg-panel resize-two-dimensions="true">
  </berg-panel>

  <berg-panel slot="right"
              resize-two-dimensions="true">
  </berg-panel>

  <berg-panel slot="bottom"
              resize-two-dimensions="true">
  </berg-panel>
</berg-layout>
