<berg-layout>
  <berg-panel slot="top">
    <button (click)="collapsed = !collapsed">Toggle left collapsed</button>
    <button (click)="absolute = !absolute">Toggle left absolute</button>
  </berg-panel>

  <berg-panel slot="left"
              [attr.collapsed]="collapsed"
              [attr.absolute]="absolute">
    Left
  </berg-panel>

  <berg-panel>
    Center
  </berg-panel>

  <berg-panel slot="right">
    Right
  </berg-panel>

  <berg-panel slot="bottom">
    Bottom
  </berg-panel>
</berg-layout>
