@use 'sass:map';
@use '../styling/border';
@use '../styling/theme';

@mixin high-contrast($overrides: ()) {
  $combined: map.merge(
    (
      background-center: black,
      background-bottom: black,
      background-left: black,
      background-right: black,
      background-top: black,
      background-backdrop: rgba(white, 0.3),
      divider: white,
      resizing-indicator-color: white,
      previewing-indicator-color: white,
    ),
    $overrides
  );

  @include theme.theme($combined);
  @include border.border(2px solid map-get($combined, divider));
}
