@use 'sass:map';
@use '../styling/elevation' as elevation;
@use '../styling/theme';

@mixin material-light($overrides: ()) {
  $theme: map.merge(
    (
      background: #fafafa,
      background-low-contrast: #f5f5f5,
      background-high-contrast: #e0e0e0,
      background-backdrop: rgba(black, 0.3),
      divider: rgba(black, 0.12),
      resizing-indicator-color: #89a5cc,
      previewing-indicator-color: #ccb089,
      elevation: 4,
    ),
    $overrides
  );

  @include theme.theme($theme);

  .berg-panel-top,
  .berg-panel-left,
  .berg-panel-right,
  .berg-panel-bottom {
    @include elevation.elevation(map-get($theme, elevation));
  }
}
