@use 'sass:map';
@use '../styling/elevation' as elevation;
@use '../styling/theme';

@mixin material-dark($overrides: ()) {
  $theme: map.merge(
    (
      background: #303030,
      background-low-contrast: #424242,
      background-high-contrast: #212121,
      background-backdrop: rgba(white, 0.3),
      divider: rgba(white, 0.12),
      resizing-indicator-color: #6c376c,
      previewing-indicator-color: #376c6c,
      elevation: 4,
    ),
    $overrides
  );

  @include theme.theme($theme);

  .berg-panel-top,
  .berg-panel-left,
  .berg-panel-right,
  .berg-panel-bottom {
    @include elevation.elevation(map-get($theme, elevation));
  }
}
