<berg-layout *ngIf="rx.layout$ | async as layout"
             [resizeDisabled]="layout.resizeDisabled!"
             [resizeTwoDimensions]="layout.resizeTwoDimensions!"
             [resizeThreshold]="layout.resizeThreshold!"
             [resizeCollapseRatio]="layout.resizeCollapseRatio!"
             [resizePreviewDelay]="layout.resizePreviewDelay!">
  <berg-panel slot="top"
              *ngIf="!layout.top?.remove!"
              [absolute]="layout.top?.absolute!"
              [collapsed]="layout.top?.collapsed!"
              [resizeDisabled]="layout.top?.resizeDisabled!"
              (backdropClick)="onBackdropClick('top')">
  </berg-panel>

  <berg-panel slot="right"
              *ngIf="!layout.right?.remove!"
              [absolute]="layout.right?.absolute!"
              [collapsed]="layout.right?.collapsed!"
              [resizeDisabled]="layout.right?.resizeDisabled!"
              (backdropClick)="onBackdropClick('right')">
  </berg-panel>

  <berg-panel slot="bottom"
              *ngIf="!layout.bottom?.remove!"
              [absolute]="layout.bottom?.absolute!"
              [collapsed]="layout.bottom?.collapsed!"
              [resizeDisabled]="layout.bottom?.resizeDisabled!"
              (backdropClick)="onBackdropClick('bottom')">
  </berg-panel>

  <berg-panel slot="left"
              *ngIf="!layout.left?.remove!"
              [absolute]="layout.left?.absolute!"
              [collapsed]="layout.left?.collapsed!"
              [resizeDisabled]="layout.left?.resizeDisabled!"
              (backdropClick)="onBackdropClick('left')">
  </berg-panel>

  <berg-panel>
    <berg-editor [html]="rx.angularHtml$ | async"></berg-editor>
  </berg-panel>
</berg-layout>
