<berg-layout
  *ngIf="rx.layout$ | async as layout"
  [topLeftPosition]="layout.topLeftPosition!"
  [topRightPosition]="layout.topRightPosition!"
  [bottomLeftPosition]="layout.bottomLeftPosition!"
  [bottomRightPosition]="layout.bottomRightPosition!"
  [resizeDisabled]="layout.resizeDisabled!"
  [resizeTwoDimensions]="layout.resizeTwoDimensions!"
  [resizePreviewDelay]="layout.resizePreviewDelay!"
  [topInset]="layout.topInset!"
  [rightInset]="layout.rightInset!"
  [bottomInset]="layout.bottomInset!"
  [leftInset]="layout.leftInset!"
>
  <berg-panel
    slot="top"
    *ngIf="!layout.top?.remove!"
    outputBindingMode="noop"
    [size]="72"
    [minSize]="72"
    [absolute]="layout.top?.absolute!"
    [collapsed]="layout.top?.collapsed!"
    [resizeDisabled]="layout.top?.resizeDisabled!"
    (resized)="onResized('top', $event)"
    (backdropClicked)="onBackdropClicked('top')"
  >
    <berg-toolbar></berg-toolbar>
  </berg-panel>

  <berg-panel
    slot="right"
    *ngIf="!layout.right?.remove!"
    outputBindingMode="noop"
    [absolute]="layout.right?.absolute!"
    [collapsed]="layout.right?.collapsed!"
    [resizeDisabled]="layout.right?.resizeDisabled!"
    (resized)="onResized('right', $event)"
    (backdropClicked)="onBackdropClicked('right')"
  >
  </berg-panel>

  <berg-panel
    slot="bottom"
    *ngIf="!layout.bottom?.remove!"
    outputBindingMode="noop"
    [size]="44"
    [minSize]="44"
    [absolute]="layout.bottom?.absolute!"
    [collapsed]="layout.bottom?.collapsed!"
    [resizeDisabled]="layout.bottom?.resizeDisabled!"
    (resized)="onResized('bottom', $event)"
    (backdropClicked)="onBackdropClicked('bottom')"
  >
    <berg-editor-icon-nav (viewChanged)="view = $event" [view]="view">
    </berg-editor-icon-nav>
  </berg-panel>

  <berg-panel
    slot="left"
    *ngIf="!layout.left?.remove!"
    outputBindingMode="noop"
    [size]="leftSize"
    [minSize]="leftSize"
    [maxSize]="leftSize"
    [absolute]="layout.left?.absolute!"
    [collapsed]="layout.left?.collapsed!"
    [resizeDisabled]="layout.left?.resizeDisabled!"
    (resized)="onResized('left', $event)"
    (backdropClicked)="onBackdropClicked('left')"
  >
    <berg-editor-nav (viewChanged)="view = $event"></berg-editor-nav>
  </berg-panel>

  <berg-panel>
    <berg-editor
      [css]="rx.css$ | async"
      [html]="rx.angularHtml$ | async"
      [scss]="rx.scss$ | async"
      [view]="view"
    >
    </berg-editor>
  </berg-panel>
</berg-layout>
