.berg-panel {
  display: block;

  &.berg-panel-center {
    flex: 1;
  }

  &.berg-resize-resizing {
    user-select: none;
  }

  &.berg-resize-resizing,
  &.berg-resize-previewing {
    &.berg-resize-above,
    &.berg-resize-below {
      cursor: ns-resize;
    }

    &.berg-resize-before,
    &.berg-resize-after {
      cursor: ew-resize;
    }
  }
}
