@mixin collapsed-panel() {
  padding: 0 !important;
  overflow: hidden !important;
}

.berg-panel {
  display: block;
  overflow: auto;
  position: relative;
  transition: margin 0.2s ease-in;

  &.berg-panel-hidden {
    display: none;

    ~ .berg-panel-center {
      .berg-resize-toggle {
        display: none;
      }
    }
  }

  &.berg-resize-collapsed {
    &.berg-panel-vertical {
      @include collapsed-panel();
      width: 0 !important;
      min-width: 0 !important;
      max-width: 0 !important;
    }

    &.berg-panel-horizontal {
      @include collapsed-panel();
      height: 0 !important;
      min-height: 0 !important;
      max-height: 0 !important;
    }
  }
}

.berg-panel-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.berg-panel-center {
  max-height: 100%;
  flex: 1;
}

.berg-panel-left + .berg-panel-right {
  flex: 1;
}

.berg-panel-left,
.berg-panel-right {
  z-index: 0;
}

.berg-panel-bottom,
.berg-panel-top {
  z-index: 1;
}

.berg-panel-backdrop {
  z-index: 2;
}

.berg-panel-absolute {
  position: absolute;
  z-index: 3;

  &.berg-panel-vertical {
    top: 0;
    bottom: 0;
    max-width: 80vw;
  }

  &.berg-panel-horizontal {
    left: 0;
    right: 0;
    max-height: 80vh;
  }
}

.berg-resize-toggle {
  position: absolute;
  z-index: 2;
}

.berg-resize-toggle-left,
.berg-resize-toggle-right {
  top: 0;
  bottom: 0;
  left: 0;
}

.berg-resize-toggle-top,
.berg-resize-toggle-bottom {
  left: 0;
  right: 0;
  top: 0;
}
