<berg-layout
  *ngIf="rx.layout$ | async as layout"
  [attr.top-left-position]="layout.topLeftPosition!"
  [attr.top-right-position]="layout.topRightPosition!"
  [attr.bottom-left-position]="layout.bottomLeftPosition!"
  [attr.bottom-right-position]="layout.bottomRightPosition!"
  [attr.resize-disabled]="layout.resizeDisabled!"
  [attr.resize-two-dimensions]="layout.resizeTwoDimensions!"
  [attr.resize-preview-delay]="layout.resizePreviewDelay!"
>
  <berg-panel
    slot="top"
    *ngIf="!layout.top?.remove!"
    output-binding-mode="noop"
    [attr.initial-size]="72"
    [attr.resize-collapse-size]="72"
    [attr.absolute]="layout.top?.absolute!"
    [attr.collapsed]="layout.top?.collapsed!"
    [attr.resize-disabled]="layout.top?.resizeDisabled!"
    (backdropClicked)="onBackdropClicked('top')"
  >
    <berg-toolbar></berg-toolbar>
  </berg-panel>

  <berg-panel
    slot="right"
    *ngIf="!layout.right?.remove!"
    output-binding-mode="noop"
    [attr.absolute]="layout.right?.absolute!"
    [attr.collapsed]="layout.right?.collapsed!"
    [attr.resize-disabled]="layout.right?.resizeDisabled!"
    (backdropClicked)="onBackdropClicked('right')"
  >
  </berg-panel>

  <berg-panel
    slot="bottom"
    *ngIf="!layout.bottom?.remove!"
    output-binding-mode="noop"
    [attr.resize-collapse-size]="40"
    [attr.initial-size]="40"
    [attr.absolute]="layout.bottom?.absolute!"
    [attr.collapsed]="layout.bottom?.collapsed!"
    [attr.resize-disabled]="layout.bottom?.resizeDisabled!"
    (backdropClicked)="onBackdropClicked('bottom')"
  >
    <berg-editor-icon-nav (viewChanged)="view = $event" [view]="view">
    </berg-editor-icon-nav>
  </berg-panel>

  <berg-panel
    slot="left"
    *ngIf="!layout.left?.remove!"
    output-binding-mode="noop"
    [attr.resize-collapse-size]="55"
    [attr.initial-size]="55"
    [attr.absolute]="layout.left?.absolute!"
    [attr.collapsed]="layout.left?.collapsed!"
    [attr.resize-disabled]="layout.left?.resizeDisabled!"
    (backdropClicked)="onBackdropClicked('left')"
  >
    <berg-editor-nav (viewChanged)="view = $event" [view]="view">
    </berg-editor-nav>
  </berg-panel>

  <berg-panel>
    <berg-editor
      [css]="rx.css$ | async"
      [html]="rx.webComponentHtml$ | async"
      [scss]="rx.scss$ | async"
      [view]="view"
    >
    </berg-editor>
  </berg-panel>
</berg-layout>
