<berg-layout *ngIf="rx.layout$ | async as layout"
             [attr.resize-disabled]="layout.resizeDisabled!"
             [attr.resize-two-dimensions]="layout.resizeTwoDimensions!"
             [attr.resize-expand-offset]="layout.resizeExpandOffset!"
             [attr.resize-collapse-offset]="layout.resizeCollapseOffset!"
             [attr.resize-preview-delay]="layout.resizePreviewDelay!">

  <berg-panel slot="top"
              *ngIf="!layout.top?.remove!"
              output-binding-mode="noop"
              [attr.absolute]="layout.top?.absolute!"
              [attr.collapsed]="layout.top?.collapsed!"
              [attr.resize-disabled]="layout.top?.resizeDisabled!"
              [attr.resize-snap]="layout.top?.resizeSnap!"
              (resizeSnapped)="onResizeSnapped('top', $event)"
              (backdropClicked)="onBackdropClicked('top')">
  </berg-panel>

  <berg-panel slot="right"
              *ngIf="!layout.right?.remove!"
              output-binding-mode="noop"
              [attr.absolute]="layout.right?.absolute!"
              [attr.collapsed]="layout.right?.collapsed!"
              [attr.resize-disabled]="layout.right?.resizeDisabled!"
              [attr.resize-snap]="layout.right?.resizeSnap!"
              (resizeSnapped)="onResizeSnapped('right', $event)"
              (backdropClicked)="onBackdropClicked('right')">
  </berg-panel>

  <berg-panel slot="bottom"
              *ngIf="!layout.bottom?.remove!"
              output-binding-mode="noop"
              [attr.absolute]="layout.bottom?.absolute!"
              [attr.collapsed]="layout.bottom?.collapsed!"
              [attr.resize-disabled]="layout.bottom?.resizeDisabled!"
              [attr.resize-snap]="layout.bottom?.resizeSnap!"
              (resizeSnapped)="onResizeSnapped('bottom', $event)"
              (backdropClicked)="onBackdropClicked('bottom')">
    <berg-editor-icon-nav (viewChanged)="view = $event"
                          [view]="view">
    </berg-editor-icon-nav>
  </berg-panel>

  <berg-panel slot="left"
              *ngIf="!layout.left?.remove!"
              output-binding-mode="noop"
              [attr.absolute]="layout.left?.absolute!"
              [attr.collapsed]="layout.left?.collapsed!"
              [attr.resize-disabled]="layout.left?.resizeDisabled!"
              [attr.resize-snap]="layout.left?.resizeSnap!"
              (resizeSnapped)="onResizeSnapped('left', $event)"
              (backdropClicked)="onBackdropClicked('left')">
    <berg-editor-nav (viewChanged)="view = $event"
                     [view]="view">
    </berg-editor-nav>
  </berg-panel>

  <berg-panel>
    <berg-editor [html]="rx.webComponentHtml$ | async"
                 [view]="view">
    </berg-editor>
  </berg-panel>
</berg-layout>
