@use 'node_modules/@berg-layout/element' as layout;

@include layout.border(
  1px,
  rgba(255, 255, 255, 0.3),
  3px,
  rgba(228, 224, 15, 0.993),
  3px,
  rgb(15, 132, 228)
);

.berg-panel-center {
  background: #424242;
  padding: 32px;
}

.berg-panel-left {
  width: 20vw;
  min-width: 10vw;
}

.berg-panel-left,
.berg-panel-right,
.berg-panel-top,
.berg-panel-bottom {
  background: #303030;
  padding: 32px;
}
