@use 'node_modules/@berg-layout/element' as layout;

@include layout.resizing(
  (
    'resizing-indicator-width': 6px,
    'resizing-indicator-color': #d0743b,
    'previewing-indicator-color': rgb(59, 127, 208),
  )
);

.berg-panel-left {
  width: 50vw;
}

.berg-panel-backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.berg-panel-left,
.berg-panel-right {
  min-width: 10vw;
}

.berg-panel-top,
.berg-panel-bottom {
  min-height: 10vh;
}

.berg-panel-top {
  background: rgb(60, 60, 60);
}

.berg-panel-bottom {
  border-top: 1px solid rgb(65, 65, 65);
}

.berg-panel-left,
.berg-panel-right {
  background: rgb(37, 37, 38);
}

.berg-panel-center,
.berg-panel-bottom {
  background: rgb(30, 30, 30);
}

.berg-panel-left,
.berg-panel-right,
.berg-panel-top,
.berg-panel-bottom {
  @include layout.elevation(4);
}
