@use './lib/components/editor/editor';
@use './lib/components/card/card';
@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@use 'node_modules/@berg-layout/core' as layout;

@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, A400);
$accent: mat.define-palette(mat.$orange-palette, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$config: mat.get-color-config($theme);
$accent-palette: map.get($config, 'accent');
$accent-color: mat.get-color-from-palette($accent-palette);

// make a new color map since @angular/material has a tedious API.
$colors: (
  primary: #006eff,
  secondary: $accent-color,
  background: rgb(30, 30, 30),
  background-low-contrast: rgb(37, 37, 38),
  background-high-contrast: rgb(60, 60, 60),
  background-backdrop: rgba(white, 0.3),
  divider: rgb(65, 65, 65),
  text: white,
);

@include layout.dark-shades();

@include card.theme($colors);
@include editor.theme($colors);
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

.berg-panel-left {
  min-width: 56px;
  max-width: 56px;

  &::part(content) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &.berg-panel-resize-expanded {
    min-width: 150px;
    max-width: 150px;
  }
}

.berg-panel-right {
  min-width: 10vw;
}

.berg-panel-top,
.berg-panel-bottom {
  min-height: 10vh;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
