@use './layout';
@use './lib/components/editor/editor';
@use './lib/components/card/card';
@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette, A400);
$accent: mat.define-palette(mat.$orange-palette, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$config: mat.get-color-config($theme);
$accent-palette: map.get($config, 'accent');
$accent-color: mat.get-color-from-palette($accent-palette);

// make a new color map since @angular/material has a tedious API.
$colors: (
  primary: #006eff,
  secondary: $accent-color,
  background: rgb(30, 30, 30),
  background-low-contrast: rgb(37, 37, 38),
  background-high-contrast: rgb(60, 60, 60),
  divider: rgb(65, 65, 65),
  text: white,
);

@include card.theme($colors);
@include editor.theme($colors);
@include layout.theme($colors);
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
