@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@use 'node_modules/@berg-layout/styling' as layout;
@use './app';

@include mat.core();
@include layout.core();

$primary: mat.define-palette(mat.$blue-palette, A400);
$accent: mat.define-palette(mat.$orange-palette, A400);
$warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($dark-theme);
@include app.theme($dark-theme);

@include layout.dark-shades();

.app-root-dark-shades {
  color: rgba(255, 255, 255, 0.7);
}

.app-root-light-shades {
  color: #000000de;
  @include layout.light-shades();
  @include mat.all-component-colors($light-theme);
  @include app.theme($light-theme);
}

html,
body {
  height: 100%;
}

.berg-panel-left {
  min-width: 56px;
  max-width: 56px;

  &::part(content) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &.berg-panel-snap-expanded {
    min-width: 150px;
    max-width: 150px;
  }
}

.berg-panel-right {
  min-width: 10vw;
}

.berg-panel-top {
  min-height: 72px;

  &::part(content) {
    padding: 16px;
  }
}

.berg-panel-bottom {
  min-height: 41px;
  max-height: 41px;

  &::part(content) {
    display: flex;
    padding: 0;
  }
}

body {
  margin: 0;
}
