:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .berg-layout-flex {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  &:host(.berg-layout-resize-horizontal) {
    user-select: none;
    cursor: ew-resize;
  }

  &:host(.berg-layout-resize-vertical) {
    user-select: none;
    cursor: ns-resize;

    &:host(.berg-layout-resize-horizontal) {
      cursor: move;
    }
  }
}
