.app-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 500px) {
    padding-top: 12vh;
  }

  .app-list {
    padding: 0 32px;
  }

  code {
    white-space: nowrap;
  }

  .app-card {
    cursor: pointer;
  }
}
