<code
  [class]="
    (breakpoints.breakpoints$ | async)?.tiny
      ? 'mat-headline-4'
      : 'mat-headline-2'
  "
  >{{ title }}</code
>

<app-list>
  <app-list-item *ngFor="let feature of features">
    <a [routerLink]="feature.path" (mouseenter)="updateTitle(feature)">
      <app-card>
        <app-card-title>
          {{ feature.name }}
        </app-card-title>

        <app-icon [iconUrl]="feature.iconUrl"></app-icon>
      </app-card>
    </a>
  </app-list-item>
</app-list>

<app-illustration></app-illustration>
