@use 'sass:map';

@mixin theme($colors) {
  @include panel-theme($colors);
  @include resizing-theme($colors);
}

@mixin panel-theme($colors) {
  $background-center: map-get(
    $map: $colors,
    $key: 'background-center',
  );

  $background-top: map-get(
    $map: $colors,
    $key: 'background-top',
  );

  $background-right: map-get(
    $map: $colors,
    $key: 'background-right',
  );

  $background-bottom: map-get(
    $map: $colors,
    $key: 'background-bottom',
  );

  $background-left: map-get(
    $map: $colors,
    $key: 'background-left',
  );

  $background-backdrop: map-get(
    $map: $colors,
    $key: 'background-backdrop',
  );

  $border-color: map-get(
    $map: $colors,
    $key: 'border-color',
  );

  :root & {
    --berg-panel-backdrop-background: #{$background-backdrop};
    --berg-panel-border-color: #{$border-color};

    --berg-panel-center-background: #{$background-center};
    --berg-panel-top-background: #{$background-top};
    --berg-panel-right-background: #{$background-right};
    --berg-panel-bottom-background: #{$background-bottom};
    --berg-panel-left-background: #{$background-left};
  }

  .berg-panel-top {
    background: var(--berg-panel-top-background);
  }

  .berg-panel-right {
    background: var(--berg-panel-right-background);
  }

  .berg-panel-bottom {
    background: var(--berg-panel-bottom-background);
  }

  .berg-panel-left {
    background: var(--berg-panel-left-background);
  }

  .berg-panel-backdrop {
    background: var(--berg-panel-backdrop-background);
  }

  body,
  .berg-panel-center {
    background: var(--berg-panel-center-background);
  }

  @at-root body#{&} {
    background: var(--berg-panel-center-background);
  }
}

@mixin resizing-theme($map) {
  $resizing-indicator-color: map-get($map, 'resizing-indicator-color');
  $previewing-indicator-color: map-get($map, 'previewing-indicator-color') or
    $resizing-indicator-color;

  :root & {
    --berg-panel-resize-indicator-color: #{$resizing-indicator-color};
    --berg-panel-resize-previewing-indicator-color: #{$previewing-indicator-color};
  }

  .berg-panel-resize-previewing {
    .berg-panel-resize-toggle-top,
    .berg-panel-resize-toggle-right,
    .berg-panel-resize-toggle-bottom,
    .berg-panel-resize-toggle-left {
      background: var(--berg-panel-resize-previewing-indicator-color);
    }
  }

  .berg-panel-resize-resizing {
    .berg-panel-resize-toggle-top,
    .berg-panel-resize-toggle-right,
    .berg-panel-resize-toggle-bottom,
    .berg-panel-resize-toggle-left {
      background: var(--berg-panel-resize-indicator-color);
    }
  }
}
