@use 'sass:map';
@use '../styling/elevation' as elevation;

@mixin theme($colors) {
  $divider: map-get(
    $map: $colors,
    $key: 'divider',
  );

  $background: map-get(
    $map: $colors,
    $key: 'background',
  );

  $background-low-contrast: map-get(
    $map: $colors,
    $key: 'background-low-contrast',
  );

  $background-high-contrast: map-get(
    $map: $colors,
    $key: 'background-high-contrast',
  );

  $background-backdrop: map-get(
    $map: $colors,
    $key: 'background-backdrop',
  );

  .berg-panel-left {
    width: 50vw;
  }

  .berg-panel-backdrop {
    background: $background-backdrop;
  }

  .berg-panel-left,
  .berg-panel-right {
    min-width: 10vw;
  }

  .berg-panel-top,
  .berg-panel-bottom {
    min-height: 10vh;
  }

  .berg-panel-top {
    background: $background-high-contrast;
  }

  .berg-panel-bottom {
    border-top: 1px solid $divider;
  }

  .berg-panel-left,
  .berg-panel-right {
    background: $background-low-contrast;
  }

  body,
  .berg-panel-center,
  .berg-panel-bottom {
    background: $background;
  }

  .berg-panel-left,
  .berg-panel-right,
  .berg-panel-top,
  .berg-panel-bottom {
    @include elevation.elevation(4);
  }
}
