:host {
  .berg-panel-overflow {
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .berg-panel-content {
    box-sizing: border-box;
  }
}

:host(.berg-panel-center) {
  .berg-panel-overflow {
    overflow: visible;
  }
}
