:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  transition: margin 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  .berg-panel-overflow {
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .berg-panel-content {
    padding: 32px;
    box-sizing: border-box;
  }

  &:host(.berg-panel-hidden) {
    display: none;
  }
}

// keep all collapsed css !important to prevent overrides
:host(.berg-panel-snap-collapsed) {
  padding: 0 !important;
  position: absolute !important;
  overflow: visible !important;

  &:host(.berg-panel-vertical) {
    height: 100%;
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
  }

  &:host(.berg-panel-horizontal) {
    width: 100%;
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
  }

  &:host(.berg-panel-top) {
    bottom: 100% !important;
  }

  &:host(.berg-panel-right) {
    left: 100% !important;
  }

  &:host(.berg-panel-bottom) {
    top: 100% !important;
  }

  &:host(.berg-panel-left) {
    right: 100% !important;
  }
}

:host(.berg-panel-center) {
  max-height: 100%;
  max-width: 100vw;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

:host(.berg-panel-left) + :host(.berg-panel-right) {
  flex: 1;
}

// Use explicit z-index to make sure box-shadow looks good
// and resize-toggles lie on top of other panels.
:host(.berg-panel-center) {
  z-index: 0;
}

:host(.berg-panel-left),
:host(.berg-panel-right) {
  z-index: 2;
}

:host(.berg-panel-bottom),
:host(.berg-panel-top) {
  z-index: 3;
}

:host(.berg-panel-between) {
  z-index: 1;
}

:host(.berg-panel-absolute) {
  position: absolute;
  z-index: 4;

  &:host(.berg-panel-top) {
    top: 0;
  }

  &:host(.berg-panel-right) {
    right: 0;
  }

  &:host(.berg-panel-bottom) {
    bottom: 0;
  }

  &:host(.berg-panel-left) {
    left: 0;
  }

  &:host(.berg-panel-vertical) {
    top: 0;
    bottom: 0;
    max-width: 80vw;
  }

  &:host(&.berg-panel-horizontal) {
    left: 0;
    right: 0;
    max-height: 80vh;
  }
}
