:host {
  display: block;
  position: relative;
  transition: margin 0.2s ease-in;

  .berg-panel-overflow {
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .berg-panel-content {
    padding: 32px;
    box-sizing: border-box;
  }

  &:host(.berg-panel-hidden) {
    display: none;
  }
}

:host(.berg-panel-vertical) {
  min-height: 64px;
}

:host(.berg-panel-horizontal) {
  min-width: 128px;
}

:host(.berg-panel-resize-disabled) {
  .berg-panel-resize-toggle {
    display: none;
  }
}

// keep all collapsed css !important to prevent overrides
:host(.berg-panel-resize-collapsed) {
  padding: 0 !important;
  position: absolute !important;
  overflow: visible !important;

  &:host(.berg-panel-vertical) {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
  }

  &:host(.berg-panel-horizontal) {
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
  }

  &:host(.berg-panel-top) {
    bottom: 100% !important;
  }

  &:host(.berg-panel-right) {
    top: 0 !important;
    bottom: 0 !important;
    left: 100% !important;
  }

  &:host(.berg-panel-bottom) {
    left: 0 !important;
    right: 0 !important;
    top: 100% !important;
  }

  &:host(.berg-panel-left) {
    right: 100% !important;
  }
}

:host(.berg-panel-center) {
  max-height: 100%;
  flex: 1;
}

:host(.berg-panel-left) + :host(.berg-panel-right) {
  flex: 1;
}

:host(.berg-panel-left),
:host(.berg-panel-right) {
  z-index: 0;
}

:host(.berg-panel-bottom) {
  z-index: 1;
}

:host(.berg-panel-top) {
  z-index: 2;
}

:host(.berg-panel-absolute) {
  position: absolute;
  z-index: 3;

  &:host(.berg-panel-resize-collapsed) {
    .berg-panel-resize-toggle {
      display: none;
    }
  }

  &:host(.berg-panel-top) {
    top: 0;
  }

  &:host(.berg-panel-right) {
    right: 0;
  }

  &:host(.berg-panel-bottom) {
    bottom: 0;
  }

  &:host(.berg-panel-left) {
    left: 0;
  }

  &:host(.berg-panel-vertical) {
    top: 0;
    bottom: 0;
    max-width: 80vw;
  }

  &:host(&.berg-panel-horizontal) {
    left: 0;
    right: 0;
    max-height: 80vh;
  }
}
