@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@use 'core' as layout;
@use './app';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include layout.core();
@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-palette, A400);
$accent: mat.m2-define-palette(mat.$m2-orange-palette, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-densities($dark-theme);
@include mat.all-component-themes($dark-theme);
@include mat.all-component-typographies($dark-theme);
@include app.theme($dark-theme);

.app-root-abyss,
.app-root-dark,
.app-root-material-dark,
.app-root-high-contrast,
.app-root-solarized-dark {
  color: rgba(255, 255, 255, 0.7);
}

.app-root-high-contrast {
  color: white;
}

.app-root-light,
.app-root-material-light,
.app-root-quiet-light,
.app-root-solarized-light {
  color: #000000de;
  @include mat.all-component-colors($light-theme);
  @include app.theme($light-theme);
}

.app-root-abyss {
  @include layout.abyss();
}

.app-root-dark {
  @include layout.dark();
}

.app-root-high-contrast {
  @include layout.high-contrast();
}

.app-root-light {
  @include layout.light();
}

.app-root-material-light {
  @include layout.material-light();
}

.app-root-material-dark {
  @include layout.material-dark();
}

.app-root-quiet-light {
  @include layout.quiet-light();
}

.app-root-solarized-light {
  @include layout.solarized-light();
}

.app-root-solarized-dark {
  @include layout.solarized-dark();
}

.berg-panel-left {
  &::part(content) {
    display: flex;
    flex-direction: column;
  }
}

.berg-panel-right {
  max-width: 88vw;
}

.berg-panel-top {
  &::part(content) {
    padding: 16px;
  }
}

.berg-panel-bottom {
  &::part(content) {
    display: flex;
  }
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-weight: 300 !important;
  font-family: SF Mono !important;
}
