:host {
  position: relative;

  &:host(.berg-layout-resizing-horizontal) {
    user-select: none;
    cursor: ew-resize;
  }

  &:host(.berg-layout-resizing-vertical) {
    user-select: none;
    cursor: ns-resize;

    &:host(.berg-layout-resizing-horizontal) {
      cursor: move;
    }
  }
}
