<slot name="top"
      *ngIf="topPosition === 'above'">
</slot>

<div class="berg-layout-flex"
     #flexContainer
     part="flex">
  <slot name="left">
  </slot>

  <div class="berg-layout-inner-flex"
       #innerFlexContainer
       part="inner-flex">
    <slot name="top"
          *ngIf="topPosition === 'between'">
    </slot>

    <slot></slot>

    <slot name="bottom"
          *ngIf="bottomPosition === 'between'">
    </slot>
  </div>

  <slot name="right"></slot>
</div>

<slot name="bottom"
      *ngIf="bottomPosition === 'below'">
</slot>
