:host {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .berg-layout-flex,
  .berg-layout-inner-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 1;
  }

  .berg-layout-flex {
    min-height: 100px;
  }

  .berg-layout-inner-flex {
    flex-direction: column;
  }

  &:host(.berg-layout-resizing-horizontal) {
    user-select: none;
    cursor: ew-resize;
  }

  &:host(.berg-layout-resizing-vertical) {
    user-select: none;
    cursor: ns-resize;

    &:host(.berg-layout-resizing-horizontal) {
      cursor: move;
    }
  }
}
